<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Regular.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Poppins-Regular.ttf</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to save downloaded wallpapers.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs permission to add wallpapers to your photo library.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.Robledas.rocketlauncher</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rocketlauncher</string>
			</array>
		</dict>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
</dict>
</plist> 